<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445317146636-06at2f1ij2nc8p2lnutcoe75q58upusq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445317146636-06at2f1ij2nc8p2lnutcoe75q58upusq</string>
	<key>API_KEY</key>
	<string>AIzaSyA78EF1vd8PHhCpJ7hGt29RWEVBy3X_X6M</string>
	<key>GCM_SENDER_ID</key>
	<string>445317146636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Concordia.Itinerum</string>
	<key>PROJECT_ID</key>
	<string>itinerum-app</string>
	<key>STORAGE_BUCKET</key>
	<string>itinerum-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445317146636:ios:ebe69922201f2e63</string>
	<key>DATABASE_URL</key>
	<string>https://itinerum-app.firebaseio.com</string>
</dict>
</plist>