<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>{ad_unit_id_1}</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>{ad_unit_id_2}</string>
	<key>CLIENT_ID</key>
	<string>{client_id}</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>{reverse_client_id}</string>
	<key>API_KEY</key>
	<string>{api_key}</string>
	<key>GCM_SENDER_ID</key>
	<string>{sender_id}</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>{bundle_id}/string>
	<key>PROJECT_ID</key>
	<string>{project_id}</string>
	<key>STORAGE_BUCKET</key>
	<string>{storage_bucked}</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>{google_app_id}</string>
	<key>DATABASE_URL</key>
	<string>{firebase_database_url}</string>
</dict>
</plist>